<div class="row">
	<div class="col-md-12">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">Upload</div>
				<div class="panel-body">
					<form name="myForm">
						<input type="file" data-ng-model="file" />
						<br>
						<button data-ng-click="upload();">Check</button>
					</form>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">Choose Work Sheet</div>
				<div class="panel-body">
					<label class="checkbox-inline">
					<input type="checkbox" value="">Option 1</label> 
					<label class="checkbox-inline">
					<input type="checkbox" value="">Option 2</label> 
					<label class="checkbox-inline">
					<input type="checkbox" value="">Option3</label>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">Test Type</div>
				<div class="panel-body">
					<div class="radio">
						<label><input type="radio" name="mainTest" data-ng-model="testType">Main
							Test</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="loadTest" data-ng-model="testType">Load
							Test</label>
					</div>
					<div class="radio">
						<label><input type="radio" name="single Test" data-ng-model="testType">Single
							Test</label>
					</div>
				</div>
			</div>
			<button data-ng-click="run();">Run</button>
		</div>
	</div>
</div>